<!doctype html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Bombila</title>
</head>
<body>
<header>
    <div class="container d-flex justify-content-between align-items-end h-100 pb-2">
        <div class="left-side">
            <div class="main-logo"></div>
        </div>
        <div class="right-side">
            <span>+996708123456</span>
        </div>
    </div>
</header>
<div class="content">
    <div class="top-content">
        <div class="top-back container d-flex align-items-center">
            <div class="top-left"> Выгодные условия и бонусы</div>
            <div class="number-and-join d-flex flex-column">
                <span>+996 708 98 49 55</span>
                <button class="btn btn-light">Присоединиться</button>
            </div>
        </div>
    </div>
    <div class="why-us-block">
        <div class="container d-flex w-100 justify-content-between py-5">
            <div class="why-us-text">
                <span>Почему Бомбила?</span>
            </div>
            <div class="why-us-blocks d-flex flex-column">
                <div class="top-blocks d-flex">
                    <div class="blocks top-blocks-left">
                        <span class="block-title">Бонусы и подарки</span>
                        <span class="block-text">Ежемесячная акция с крутыми призами и бонусы активным водителям</span>
                    </div>
                    <div class="blocks top-blocks-right">
                        <span class="block-title">Скидки на автомойку</span>
                        <span class="block-text">У нас имеются автомойки, где предоставляются скидки от имени нашего таксопарка</span>

                    </div>
                </div>
                <div class="bottom-blocks d-flex">
                    <div class="blocks bottom-blocks-left">
                        <span class="block-title">Скидки на замену масла</span>
                        <span class="block-text">Замена масла со скидкой от имени таксопарка</span>

                    </div>
                    <div class="blocks bottom-blocks-right">
                        <span class="block-title">Моментальные выплаты</span>
                        <span class="block-text">Вывести деньги можно моментально на любую карту</span>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="how-to-block py-5">
        <div class="container">
            <h3>Как подключиться и зарабатывать</h3>
            <div class="how-to-blocks d-flex justify-content-between">
                <div class="how-block first-block">
                    <div class="how-top d-flex align-items-center">
                        <div class="how-count">01</div>
                        <div class="how-title">Отправьте фото водительского удостоверения и техпаспорта авто на наш whatsapp</div>
                    </div>
                    <div class="how-text">При первичной регистрации бонус 200 сом на счет Приведи друга и получи +100 сом</div>
                </div>
                <div class="how-block second-block">
                    <div class="how-top d-flex align-items-center">
                        <div class="how-count">02</div>
                        <div class="how-title">Оператор проконсультирует вас и подключит к системе</div>
                    </div>
                    <div class="how-text">Техническая поддержка водителей 24 часа 7 дней в неделю, комиссия 3%</div>
                </div>
                <div class="how-block third-block">
                    <div class="how-top d-flex align-items-center">
                        <div class="how-count">03</div>
                        <div class="how-title">ГОТОВО! ВЫХОДИТЕ НА ЛИНИЮ и получайте заказы</div>
                    </div>
                    <div class="how-text">ТехПосле оформления вы можете сразу выходить на линию и выполнять заказы</div>
                </div>
            </div>
        </div>
    </div>
    <div class="contact-us-block  py-5">
        <div class="container d-flex">
            <div class="contact-text">Свяжитесь с нами любым удобным способом</div>
            <div class="contact-content d-flex flex-column">
                <button class="btn btn-light call-btn my-2">Позвонить</button>
                <button class="btn btn-success whats-btn">Написать на Вотсап</button>
            </div>
        </div>
    </div>
</div>
<footer>
    <div class="container d-flex justify-content-between align-items-center h-100">
        <div class="footer-left">
            +996708984055
        </div>
        <div class="footer-right">
            ул. Гидростроителей 4-11
        </div>
    </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>
