header{
    background-color: #3A4352;
    height: 55px;
    border-bottom: 1px solid #FEB800;

}
.top-content{
    height: 300px;
    background-color: #3A4352;
    overflow: hidden;
}
.how-to-block h3{
    text-align: center;
}
.how-block{
    width: 33%;
}
.main-logo{
    background-image: url("../logos/main_logo.png");
    background-repeat: no-repeat;
    background-size: contain;
    height: 42px;
    width: 200px;
    background-position: center;
}
.right-side span{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.11em;
    color: #FFFFFF;
}
.top-left{
    font-style: normal;
    font-weight: 500;
    font-size: 45px;
    line-height: 44px;

    color: #FFFFFF;
    margin-left: auto;
    width: 200px;
    margin-right: 25%;
}
.top-back{
    background-image: url("../logos/cars.png");
    background-repeat: no-repeat;
    background-size: contain;
    height: 102%;
}
.number-and-join span{
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 44px;

    color: #FFFFFF;
    margin-bottom: 30px;
}
.number-and-join button{
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #000000;
    background: #FFFFFF;
    border: 5px solid #FFC700;
    box-sizing: border-box;
    border-radius: 10px;
}
.why-us-text{
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 53px;
    color: #000000;
    align-self: center;
    text-transform: uppercase;

}
.block-title{
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #151515;
    margin-bottom: 15px;
}
.blocks{
    width: 50%;
    text-align: center;
    padding: 0 135px;
    padding-top: 100px;
    margin-bottom: 30px;
}
.block-text{
    display: block;
    margin-top: 15px;
}
.top-blocks-left{
    background-image: url("../logos/block1.png");
    background-repeat: no-repeat;
    background-position: 50% 15%;;
}
.top-blocks-right{
    background-image: url("../logos/block2.png");
    background-repeat: no-repeat;
    background-position: 50% 15%;;
}
.bottom-blocks-left{
    background-image: url("../logos/block3.png");
    background-repeat: no-repeat;
    background-position: 50% 15%;;
}
.bottom-blocks-right{
    background-image: url("../logos/block1.png");
    background-repeat: no-repeat;
    background-position: 50% 15%;;
}
.why-us-block{
    background: #EBF3F5;
}
.how-to-block{
    background-color: #3A4352;
}
.how-to-block h3{
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 42px;
    /*text-align: center;*/
    text-transform: uppercase;
    color: #F8C100;
}
.how-count{
    font-style: normal;
    font-weight: 400;
    font-size: 96px;
    line-height: 115px;
    text-transform: uppercase;
    color: #4BCF89;
}
.how-title{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.second-block .how-count{
    color: #FF8C69;
}
.third-block .how-count{
    color: #6155E0;
}
.how-text{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
}
.contact-text{
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    text-transform: uppercase;
    color: #3A4352;
    width: 32%;
}
.call-btn{
    background: #FFFFFF;
    border: 5px solid #F8C100;
    box-sizing: border-box;
    border-radius: 10px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #000000;
}
.contact-us-block{
    background: #EBF3F5;
}
.whats-btn{
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
    background: #4BCF89;
    border-radius: 10px;
}
footer{
    height: 70px;
    background: #3A4352;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;

    color: #FFFFFF;
}